<IfModule mod_rewrite.c>
    RewriteEngine On

    # IMPORTANTE: Coloque o nome da pasta do seu projeto aqui
    # Se o link é localhost/meu-saas/, use: RewriteBase /meu-saas/public/
    RewriteBase /docsybin/Public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
